img{
    width: 30px;
    height: 30px; 
}

.interroga{
    margin-left: 10px;
  margin-bottom: 600px;
  margin-top: 200px;
}
.x{
    margin-left: 1000px;
   margin-bottom: 800px;
}
.tranf{
margin-bottom: 400px; 

}   
.qr{
    margin-bottom: 0px;
}

