img{
    width: 30px;
    height: 30px; 
}

.interroga{
    width: 100px;
}
.x{
    margin-left: 1000px;
   margin-bottom: 800px;
}
.tranf{
margin-bottom: 400px; 

}   
.qr{
    margin-bottom: 0px;
}
.bolinha{
    background-color: grey;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
