img{
    width: 30px;
    height: 30px; 
}

.interroga{
    margin-left: 200px;
    margin-bottom: 300px;
    
}
.x{
    margin-left: 1000px;
   
}
.tranf{
    margin-left: 50px;  
   margin-bottom: 400px;
}
